       
        <div class="split_vert">
        <div class=".col-md-4 split_col">
            <table>
                <tr><td>
                    <a href="#"><button class="btn btn-primary">
                        <span class="glyphicon glyphicon-book-open"></span>
                        dashboard
                    </button></a>
                </td></tr>
                <tr><td>
                    <a href="#bill"><button class="btn btn-primary">
                        <span class="glyphicon glyphicon-flag"></span>
                        dashboard
                    </button></a>
                </td></tr>
                <tr><td>            
                    <a href="#balance"><button class="btn btn-primary">
                        <span class="glyphicon glyphicon-list"></span>
                        all expences
                    </button></a>
                </td></tr>
            </table>
        </div>
        <div ng-view class="split_2cols">
        </div>
    </div>
    