

<div class=".col-md-4 split_col2">
    <div id="bill_total_list">
        <h2>Balance</h2>
        
        <uib-accordion close-others="true">
            <uib-accordion-group heading="{{bill.payed_by}}" ng-repeat="bill in balance.bills">
                <uib-accordion-heading>
                    <table><tr>
                    <td ><span>{{bill.date | date:'yyyy MM dd'}}</span></td>
                    <td>{{bill.description}}</td>
                    <td>you paid<br/>{{bill.currency}} {{balance.bill.ipayed(bill)}}</td>
                    <td>you are owed<br/>{{bill.currency}} {{balance.bill.imowed(bill)}}</td>
                    </tr></table>
                </uib-accordion-heading>
                {{bill.description}}</br>
                {{bill.currency}}{{bill.price}}
                <table>
                    <tr ng-repeat="u in bill.split_with">
                        <td>
                            {{u.name}} payed {{bill.currency}}{{u.payed}} and owes {{bill.currency}}{{u.owe}}
                        </td>
                    </tr>
                </table>
            </uib-accordion-group>
        </uib-accordion>
        
        <div>
            <button class="btn btn-primary" ng-click="balance.get_list()">see more</button>            
        </div>
    </div>
</div>

<div class=".col-md-4 split_col2">
    <div class="btn-group">
        <button class="btn btn-primary" ng-click="balance.get_total()">
            <span class="glyphicon glyphicon-stats"></span>
        </button>
        <button class="btn btn-primary" ng-click="balance.get_monthtrend()">
            <span class="glyphicon glyphicon-calendar"></span>
        </button>
        <button class="btn btn-primary" ng-click="balance.get_upcomming()">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
    </div>
    
    <div id="balance_total" ng-show="balance.showtotal">
        <h3>Total</h3>
        <div ng-repeat="t in balance.total" class="jumbotron" ng-show="balance.total.length">
            <h4>total in {{t._id}}</h4>
            <h4>payed:<br/>{{t.payed.toFixed(2)}}</h4>
            <h4>received:<br/>{{t.received.toFixed(2)}}</h4>
            <h4>owed:<br/>{{t.owed.toFixed(2)}}</h4>
            <h4>debt:<br/>{{t.debt.toFixed(2)}}</h4>
        </div>
        <div ng-show="!balance.total.length" class="jumbotron">
            <h4>payed:<br/>EUR 0</h4>
            <h4>received:<br/>EUR 0</h4>
            <h4>owed:<br/>EUR 0</h4>
            <h4>debt:<br/>EUR 0</h4>
        </div>
    </div>
    <div id="balance_monthtrend" ng-show="balance.showtrend">
        <h3>trend this month</h3>
        <div ng-repeat="t in balance.monthtotal" class="jumbotron"  ng-show="balance.monthtotal.length">
            <h4>total in {{t._id}}</h4>
            <h4>payed:<br/>{{t.payed.toFixed(2)}}</h4>
            <h4>received:<br/>{{t.received.toFixed(2)}}</h4>
            <h4>owed:<br/>{{t.owed.toFixed(2)}}</h4>
            <h4>debt:<br/>{{t.debt.toFixed(2)}}</h4>
        </div>
        <div ng-show="!balance.monthtotal.length" class="jumbotron">
            <h4>payed:<br/>EUR 0</h4>
            <h4>received:<br/>EUR 0</h4>
            <h4>owed:<br/>EUR 0</h4>
            <h4>debt:<br/>EUR 0</h4>
        </div>
    </div>
    <div id="balance_upcomming" ng-show="balance.showupcomming">
        <h3>upcomming bills</h3>
        <div ng-repeat="t in balance.monthtotal" class="jumbotron"  ng-show="balance.monthtotal.length">
            <h4>{{t.currency}}{{t.price}} to pay</h4>
            <div ng-repeat="u in t.split_with">
                <h4>{{u.name}} have {{t.currency}}{{u.owe}} to pay, {{t.currency}}{{u.payed}} already payed</h4>
            </div>
        </div>
        <div ng-show="!balance.monthtotal.length" class="jumbotron">
            <h4>no upcomming bill</h4>
        </div>
    </div>
</div>
<link href="css/balance.css" rel="stylesheet" type="text/css">
