<div class="col-md-6 col-md-offset-3" ng-controller="LoginController" ng-hide="currentUser">
  <br><br><br>
  <form novalidate class="form-signin" name="FormLogin" ng-submit="FormLogin.$valid && regsend()" >
    <center><h2 class="form-signin-heading">login</h2></center>
    
    <input type="email" id="inputEmail" ng-model="login.email" class="form-control" name="email" placeholder="Email" required autofocus>
    <br>
    
    <input type="password" id="inputPassword" ng-model="login.password" name="password" ng-minlength="6" ng-maxlength="15" class="form-control" placeholder="password" required>
    
    <br>
    <center><button class="btn btn-success loginButton" ng-click="logsend()">connect</button></center>
  </form>
</div>
